body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  background: url(header.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-size: 3rem;
	color: #b9a9aa;
	
}

.header1{
	padding-top: 60px;
        padding-bottom: 40px;
}

.btn-primary{
	padding: 1rem 2rem;
	font-weight: 700;
	border-radius: 300px;
	background-color: #b17777; 
	border-color: #b17777;

}

.btn-primary:hover {
background-color: #581d23; 
border-color: #581d23;
transform: scale(1.1);


}

hr{
	border-color: #581d23;
	max-width: 65px;
	border: 2px solid #581d23;
}